doctype html
html(lang='en')
  head
    title Sudoku!
    style
      include ./html/style.css
  body
    .grid
      h2 SUDOKU!
        .grid-area
          .row
            .grid-area-1 1 2 3
            .grid-area-2 2 2 3
            .grid-area-3 3 3 3